services:
  geoserver:
    image: kartoza/geoserver:latest
    container_name: geoserver
    ports:
      - "8080:8080"
    environment:
      - GEOSERVER_ADMIN_PASSWORD=geoserver
    volumes:
      - ./geoserver_data:/opt/geoserver/data_dir
      - ./raster_data:/opt/geoserver/raster_data
    restart: unless-stopped

  erddap:
    image: erddap/erddap:v2.28.1
    container_name: erddap
    ports:
      - "8081:8080"
    environment:
      - ERDDAP_MIN_MEMORY=2G
      - ERDDAP_MAX_MEMORY=4G
    volumes:
    # - ./erddap_data:/usr/local/tomcat/content/erddap
      - ./raster_data:/erddapData
    restart: unless-stopped
